/* General page styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header and Navigation Bar */
header {
    /*     background-color: #0033A0; /* Blue color */
    background: linear-gradient(to right, #66ccff, #0033A0); /* Lighter blue to darker blue */
    padding: 10px 20px;
}




nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

footer a {
    color: #00C0FF; /* Light blue for links */
    text-decoration: none;
}
